@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';  
}

.logo{
  display: flex;
  position:relative;
  align-items:baseline;
  justify-content:space-between;
  gap:0;
  margin: 20px 179px;
}
.shortly{
font-size: 1.5rem;
}
.link{
  color: gray;
  text-decoration: none;
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight:600;
  font-size: 0.8rem;
  align-items: center;
}

.nav-menu{
  display:inline-flex;  
  gap: 20px;
  list-style-type:none;
  margin-right: 400px;
}

.logo li h3{
  font-size: 0.9rem;
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

/* .logo li a{
  color: darkgray;
  text-decoration: none;
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight:600;
  font-size: 0.8rem;
} */

.head{
  display: flex;
  position: relative;
  margin-right: 80px;
  gap: 20px;
  align-items: baseline;
  
}
.head a{
  color: gray;
  text-decoration: none;
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight:600;
  font-size: 0.7rem;
}

.head button{
  width: 50px;
  height: 24px;
  color:white;
  background-color:turquoise;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 50px;
  border: 0px;
  cursor: pointer;
}
.head button a{
  color: white;
  font-size: 0.6rem;
}


.flex{
  display: flex;
  justify-content:space-evenly;
  margin-top: 50px;
  margin-bottom: 70px;
}

.child1{
  color: black;
  /* translate: 45px; */
  margin-top: 40px;
  
}
.child1 h2{
  font-size: 3.3rem;
  line-height: 3.5rem;
}

.child1 p{
  font-size: 0.78rem;
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight: 500;
  color: gray;
  line-height: 1.2rem;
}

.child1 button{
  width: 100px;
  height: 30px;
  color:white;
  background-color:turquoise;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.7rem;
  border-radius: 50px;
  border: 0px;
  cursor: pointer;
}

.child2 img{
  width: 380px;
  height: 280px;
}
.sec-1{
  background-color: whitesmoke;
  position: relative;
  padding-bottom: 0px;
}
.border{
  display: flex;
  gap: 15px;
  width: 950px;
  height: 70px;
  background: url(bg-boost-desktop.svg);
  background-size: 60rem;
  background-color:slateblue;
  border-radius: 8px;
  padding:19px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-self: center;
  transform: translateY(-40%);
}

.short{
  width: 750px;
  height: 35px;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  font-family:'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight: 500;
}

.form{
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: 0px;
  padding: 4px;
  font-family:'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight: 500;
  cursor: pointer;
}

.copy-link{
  display: flex;
  flex-direction: column;
}

.link1 {
  display: flex;
  position: relative;
  /* gap: 90px; */
  justify-content: space-between;
  margin: 0px auto;
  background-color:rgb(255, 255, 255);
  height: 40px;
  width: 950px;
  padding: 10px;
}

.link1 button{
  width: 50px;
  height: 24px;
  color:white;
  background-color:rgb(101, 206, 208);
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}

.link1 a{
  text-decoration: none;
  color:rgb(101, 206, 208);
  font-weight: 500;
}

.link2 {
  display: flex;
  position: relative;
  /* gap: 90px; */
  justify-content: space-between;
  margin: 0px auto;
  background-color:rgb(255, 255, 255);
  height: 40px;
  width: 950px;
  padding: 10px;
  margin-top: 18px;
}

.link2 button{
  width: 50px;
  height: 24px;
  color:white;
  background-color:rgb(101, 206, 208);
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
  border: 0px;
  cursor:pointer;
  pointer-events:visibleFill;
}

.link2 a{
  text-decoration: none;
  color:rgb(101, 206, 208);
  font-weight: 500;
}

.link2 button:active{
  background-color: black;
}

.advance{
  text-align: center;
  margin-top: 70px;
  font-weight: 500;
  color: gray;
  font-size: 0.7rem;
  line-height: 1.5rem;
}

#stat{
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

/* .branding{
  /* display: flex;
  gap: 15px;
  justify-content: center; */
 */

.colum{
  width: 500px;
  
  background-color: green;
}

.col1{
  width: 300px;
  height: 150px;
  /* padding: 10px;
  margin-top: 50px;
  text-align: center;
  color: black;
  background-color: white;
  font-size: 1.2rem;
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  color: gray;
  font-weight: 450; */
}

.col2{
  
  width: 300px;
  height: 150px;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  color: black;
  background-color: white;
  font-size: 1.2rem;
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  color: gray;
  font-weight: 450;
}

.col3{
  
  width: 300px;
  height: 150px;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  color: black;
  background-color: white;
  font-size: 1.2rem;
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  color: gray;
  font-weight: 450;
  justify-self: flex-end;
}

hr{
  border: 100px;
  width: 900px;
  height: 5px;
  background-color: rgb(101, 206, 208);
  transform: translateY(10rem);
  margin: 0 auto;
  z-index: -1;

}
.flexbox-container{
  display: flex;
  justify-content: center;
  height: 300px;
  gap: 10px;
}

.flexbox-item{
  background-color: white;
  margin: 10px;
  width: 280px;
  padding: 10px;
  margin-top: 59px;
  
}

.flexbox-item-1{
  z-index: 2;
  align-self: flex-start;
  height: 160px;
  color: gray;
  font-weight:499;
  font-family:'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif' ;
  line-height: 1.8rem; 
}

.flexbox-item-2{
  z-index: 2;
  align-self: center;
  height: 160px;
  color: gray;
  font-weight:499;
  font-family:'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif' ;
  line-height: 1.8rem;
}

.flexbox-item-3{
  z-index: 2;
  align-self: flex-end;
  height: 160px;
  color: gray;
  font-weight:499;
  font-family:'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif' ;
  line-height: 1.8rem;
}

.boost{
  margin-top: 25px;
  background-image: url("bg-boost-desktop.svg");
  background-color:rgb(26, 21, 31);
  background-size: 120vw;
  max-width: 100%;
  width: 100vw;
  height: 150px;
  padding: 30px;
  line-height: 2.9rem;
}

.boost-link{
  color: white;
  text-align: center;
  height: 60px;
  padding: 10px;
  font-size: 1.5rem;
}

.boost-link button{
  cursor: pointer;
  background-color: rgb(101, 206, 208);
  width: 100px;
  height: 30px;
  border: 0px;
  border-radius: 18px;
  font-family: 'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight: 700;
  color: white;
}

.footer{
  display: flex;
  background-color: rgb(14, 12, 12);
  margin: 0px;
  padding: 40px;
  height: 30vh;
  justify-content: space-evenly;
  font-family:'Poppins', 'sans-serif', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

.footer-logo{
  color: white;
}
.footer-features{
  color: white;
   
}
.footer-features a{
  color: gainsboro; 
  text-decoration: none;
  line-height: 1.9rem;
  font-weight: 600;
  font-size: 1rem;
}

.footer-resources{
  color: white; 
}
.footer-resources a{
  color: gainsboro;  
  text-decoration: none;
  line-height: 1.9rem;
  font-weight: 600;
  font-size: 1rem;
}

.footer-company{
  color: white; 
}
.footer-company a{
  color: gainsboro;  
  text-decoration: none;
  line-height: 1.9rem;
  font-weight: 600;
  font-size: 1rem;
}

.footer-social{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
}

.img-footer{
  filter:invert(1);
  width: 15px;
  height: 20px;
}

/* .footer-social a img{
  background-color: white;
  color: white;
} */
/* .hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} */


@media (max-width:768px) {
  .logo{
    flex-direction: column;
    gap: 0px;
    margin: 50px;
    margin-right: 35px;
  } 
  .link{
    display: none;
  }
  .head{
    display: none;
  }
  .shortly{
    font-size: 2.5rem;
  }
  .flex{
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 40px;
  }
  .child2{
    align-items: center;
  } 
  .border{
    flex-direction: column;
    max-width: 100%;
    width:300px;
    padding: 50px;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
  }
  .short{
    max-width: 100%;
    width: 100vw;
  }
  .form{
    margin-top: 0px;
    margin: 0 auto;
    background-color: rgb(101, 206, 208);
    color: white;
    max-width: 100%;
    width: 300px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .copy-link{
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
    border-radius: 30px;
  }
  .link1{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100vw;
    padding: 50px;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    line-height: 1.2rem;
  }
  .link1 button{
    width: 200px;
    font-weight: 500;
    font-size: 1rem;
  }
  .link2{
    flex-direction: column;
    max-width: 100%;
    width: 100vw;
    padding: 50px;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    line-height: 1.2rem;
    margin-top: 10px;

  }
  .link2 button{
    width: 200px;
    font-weight: 500;
    font-size: 1rem;
  }
  
  /* .advance{
    text-align: center;
  } */
  .flexbox-container{
    flex-direction: column;
    height: 700px;
    margin-top: 15px;
    margin-bottom: 100px;
    justify-content: center;
  
  }
  .flexbox-item{
    align-self: center;
    text-align: center;  
    width: 300px;
    height: 400px;
    font-size: 1.3rem;
  }
  hr{
    transform: rotate(90deg) translateX(400px);
    width: 400px;
    height: 4px;
    background-color: rgb(101, 206, 208);
  }
  .boost{
    flex-direction: column;
    width: 300vw;
    height: 20vh;
    background-size: 380vw;
    text-align: center;
}
  .boost-link{
   color: white;
   font-size: 1.5rem; 
  }
  .footer{
    flex-direction: column;
    height: 100vh;
    align-items: center;
    line-height: 2.1rem;
  }
  .footer-logo{
    font-size: 2.1rem;
  }
  .footer-features{
    margin-top: 40px;
    font-size: 1.5rem;
    text-align: center;
  }
  .footer-resources{
    margin-top: 40px;
    font-size: 1.5rem;
    text-align: center;
    
  }
  .footer-company{
    margin-top: 40px;
    font-size: 1.5rem;
    text-align: center;
}
  .img-footer{
    margin-top: 10px;
    width: 25px;
  }
  .footer-social{
    gap: 30px;
  }    
}

/* .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform:translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform:translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: green;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
.nav-item{
  margin:16px 0;
}
  .nav-menu.active{
    left: 0;
  } */
